__pycache__
.mypy_cache/
models/
src/checkpoint/run1/model-37.meta
src/checkpoint/run1/model-37.index
src/checkpoint/run1/model-37.data-00000-of-00001
src/checkpoint/run1/events.out.tfevents.1607525649.DESKTOP-95URNHV
src/checkpoint/run1/counter
src/checkpoint/run1/events.out.tfevents.1607527559.DESKTOP-95URNHV
src/checkpoint/run1/events.out.tfevents.1607530669.DESKTOP-95URNHV
src/checkpoint/run1/model-323.index
src/checkpoint/run1/model-323.meta
src/checkpoint/run1/model-326.data-00000-of-00001
src/checkpoint/run1/model-326.index
src/checkpoint/run1/model-326.meta
src/checkpoint/run1/model-323.data-00000-of-00001
src/checkpoint/run2/events.out.tfevents.1607530738.DESKTOP-95URNHV
src/samples/run2/samples-50
src/samples/run2/samples-200
src/samples/run2/samples-150
src/samples/run2/samples-100
src/samples/run1/samples-50
src/samples/run1/samples-300
src/samples/run1/samples-250
src/samples/run1/samples-200
src/samples/run1/samples-150
src/samples/run1/samples-100
src/checkpoint/run2/model-209.meta
src/checkpoint/run2/model-209.index
src/checkpoint/run2/model-209.data-00000-of-00001
src/checkpoint/run2/counter
src/checkpoint/run2/checkpoint
src/checkpoint/run1/checkpoint
